{{!-- <h1>LOG IN</h1>
<form action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button class="button-34" role="button" type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}

{{! TEST NEW FORM }}

<div id="login">
  
  <div id="login-form-parent">
      <img src="/images/pets-4.png" alt="">
    <h2>Welcome back!<br />Login</h2>

    <form
      action="/login"
      method="POST"
    >
      <div>
        <div>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
          />
        </div>
      </div>
      <br>
      <div>
        <div>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
        </div>
      </div>
      <div>
        <div>
        </div>
      </div>
      <div>
         <br>
         <br>
        <div>
          <button class="button-34" role="button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
{{!--   <div id="login-side">
      
  </div> --}}
</div>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}