{{!-- <h1>SIGN UP</h1>
<form action="/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button class="button-34" role="button" type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}

{{! TEST NEW FORM }}
<div id="signup">
  <div id="signup-form-parent">
    <h2>Fill the form. <br /> It's easy.</h2>

    <form
      action="/signup"
      method="POST"
    >
      <div>
        <div>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"
          />
        </div>
      </div>
      <br>
      <div>
        <div>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
        </div>
      </div>
      <div>
        <div>
        </div>
      </div>
      <div>
         <br>
         <br>
        <div>
          <button class="button-34" role="button" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div id="signup-side-text">
    <h3>Let's talk about everything.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil deleniti
      itaque similique magni. Magni, laboriosam perferendis maxime!</p>
      <img src="/images/pets-1.png" alt="">
  </div>
</div>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}