<div id="home">
  <div id="title"> 
  <h1>Pet Tracker</h1>
  </div>
  <img src="/images/pets-2.png" alt="pets">
  <div> 
    <div id="home-text"> 
    <p>
      <h3>Did you ever get home and wonder if your pet already ate or if it still needs
      to go outside for a pee?</h3>
      <h2>This is a tool to keep track of your dog's routine
      and share the responsabilities with your household members.</h2> It allows you to
      create a profile for your pet and conenct it to all your household members so
      you don't have to wonder anymore if its your turn to walk the dog or if
      someone else already did it!
    </p>
    <br>
    <div id="home-div-button"> 
  <a id="home-a" class="button-34" role="button" href='/signup'>Join Now</a>
 {{!--  <a class="button-34" role="button" href='/login'>Login</a> --}}
  </div>
   </div>
  </div>
</div>
