<h1>Home</h1>

<p>
  Did you ever get home and wonder if your pet already ate or if it still needs
  to go outside for a pee? This is a tool to keep track of your dog's routine
  and share the responsabilities with your household members. It allows you to
  create a profile for your pet and conenct it to all your household members so
  you don't have to wonder anymore if its your turn to walk the dog or if
  someone else already did it!
</p>

