<div id="home">
  <div id="title"> 
  <h1>Pet Tracker</h1>
  </div>
  <img src="/images/pets-2.png" alt="pets">
  <div> 
    <div id="home-text"> 
    <p>
      <h3>Do you ever get home and wonder if your pet already ate or if it still needs
      to go outside?</h3>
      <h2>Create your pet's profile to keep track of its routine
      and share responsabilities with your household members.</h2> 
      <h3>You won't ever have to wonder again if its your turn to feed your pet or if
      someone already did it!</h3>
     
    </p>
    <br>
    <div id="home-div-button"> 
      {{#if user}}
      <a id="home-a" class="button-34" href='/profile'>Your Profile</a>
      {{else}}
  <a id="home-a" class="button-34" href='/signup'>Join Now</a>
  {{/if}}
 {{!--  <a class="button-34" role="button" href='/login'>Login</a> --}}
  </div>
   </div>
  </div>
</div>
