@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* ALL  */

body {
  /*   padding: 50px; */
  font-family: "Varela Round", sans-serif;
  background-color: #f1f7ed;
  margin: 0;
  padding: 0;
}

a {
  color: #f1f7ed;
  text-decoration: none;
}

span {
  color: #f1f7ed;
  padding-left: 8px;
  padding-right: 8px;
}

nav {
  background-color: #7209b7;
  height: 60px;
  display: flex;
  justify-content: right;
  padding-right: 80px;
}

nav img {
  justify-content: left;
  align-items: center;
  height: 50px;
  margin-top: 5px;
  margin-right: auto;
}

h1 {
  color: #7209b7;
  font-weight: bold;
}

h2 {
  color: #7209b7;
  font-weight: bold;
}

h3 {
  color: #7209b7;
  font-weight: bold;
}

.button-34 {
  background: #7209b7;
  border-radius: 999px;
  box-shadow: #7209b7 0 10px 20px -10px;
  box-sizing: border-box;
  color: #f1f7ed;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* HOME  */

#home {
  height: 100%;
  display: flex;
  margin: 50px;
}

#home h1 {
  font-size: 110px;
  display: flex;
  align-items: center;
}

#home img {
  position: absolute;
  margin-left: 500px;
}

#home-text {
  margin-top: 297px;
  padding: 70px;
  padding-left: 160px;
  padding-right: 160px;
  border-top-style: solid;
  border-color: #7209b7;
  border-width: 8px;
}

#home h3 {
  color: #727072;
}

#home-div-button {
  text-align: center;
}

#home-a {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 18px;
}

/* USER PROFILE  */

#user-profile h1 {
  font-size: 50px;
}

#user-profile-firstDiv {
  display: flex;
  margin: 50px;
  justify-content:space-between;
}
#user-profile-firstDiv h1 {
  padding-left: 30px;
}

#user-profile-secondDiv  {
padding: 30px;
padding-top: 45px;
 }

#user-profile-secondDiv a {
margin-top: 80px;
}

#user-profile h2 {
  font-size: 30px;
  margin-left: 50px;
}

#pet-section {

  margin: 50px;
  
}

#pet-section-firstDiv {
  display: flex;
  justify-content:space-evenly
 
}

 #pet-section-secondDiv-button {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  padding: 4px 14px;
 
}

/* PET PROFILE  */

#pet-profile h1 {
  font-size: 50px;
}

#pet-profile-firstDiv {
  display: flex;
  margin: 50px;
  justify-content:space-between;
  margin-bottom: 0px;
  
}
#pet-profile-firstDiv h1 {
  padding-left: 30px;
}

#pet-profile-secondDiv  {
padding: 30px;

 }

#pet-profile-secondDiv a {
margin-top: 80px;
}

#pet-profile h2 {
font-size: 30px;
margin-bottom: 30px;
text-align:left;
margin-left: 50px;

}

#h2-border{
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-color: #7209b7;
  border-width: 8px;
}


#pet-profile-todo-section {
display: flex;
justify-content:left
}

#pet-profile-todo-section-newTask{
  margin-left: 50px;
  margin-right: 300px;

}
#pet-profile-todo-section-allTasks {
/* width: 600px; */
align-items:flex-start;
border-left-style: solid;
border-color: #7209b7;
border-width: 8px;
}
/* SIGN UP  */

.form-control {
  border: none;
  border-bottom: 1px solid #f1f7ed;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #727072;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}



#signup {
  display: flex;
  padding: 150px;
  padding-right: 40px;
}

#signup-form-parent {
  margin-right: 90px;
  width: 60%;
}

#signup h2{
  font-size: 40px;
}

/* LOGIN */

#login {
  display: flex;
  padding: 100px;
  padding-right: 40px;
  padding-left: 150px;
  
}

#login-form-parent {
  margin-right: 90px;
  width: 60%;
}

#login h2{
  font-size: 40px;
  border-top-style: solid;
  border-color: #7209b7;
  border-width: 8px;
  padding-top: 30px;
  margin-top: 0;
}

#login-form-parent img {
  width: 800px;

}

/* ADD PET  */

#add-pet {
  display: flex;
  padding: 246px;
  padding-right: 40px;
  background: url(/images/pet-5.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#add-pet-form-parent {
  margin-right: 90px;
  align-items: center;
  width: 60%;
  margin-left: 190px;
}

#add-pet h2{
  font-size: 40px;
}

/* EDIT PET  */

#edit-pet {
  display: flex;
  padding: 200px;
  padding-right: 40px;
  background: url(/images/pet-5.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#edit-pet-form-parent {
  margin-right: 90px;
  align-items: center;
  width: 60%;
  margin-left: 210px;
}

#edit-pet h2{
  font-size: 40px;
}
