@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
/*   padding: 50px; */
  font-family: 'Varela Round', sans-serif;
  background-color: #F1F7ED;
}

a {
  color: #F1F7ED;
  text-decoration: none;
}

span {
  color: #F1F7ED;
  padding-left: 8px;
  padding-right: 8px;
}


nav {
  background-color: #7209B7;
  height: 50px;
  display: flex;
  justify-content: right;
  padding-right: 80px;
}

h1 {
  color: #7209B7;
  font-weight: bold;
}

h2 {
  color: #7209B7;
  font-weight: bold;
}

h3 {
  color: #7209B7;
  font-weight: bold;
}

.button-34 {
  background: #7209B7;
  border-radius: 999px;
  box-shadow: #7209B7 0 10px 20px -10px;
  box-sizing: border-box;
  color: #F1F7ED;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

#home {
height: 100%;
display: flex;
}

#home h1 {
  font-size: 110px;
  display: flex;
  align-items: center;
}

#home img {
  position: absolute;
  margin-left: 500px;
}

#home-text {
  margin-top: 297px;
  padding: 50px;
  padding-left: 140px;
  padding-right: 140px;
  border-top-style: solid;
  border-color: #7209B7;
  border-width: 8px;
 
}

#home-div-button {
  text-align: center;
}

#home-a {
padding-left: 80px;
padding-right: 80px;
font-size: 18px;
}
 
#user-profile h1 {
font-size: 50px;
}

#user-profile-firstDiv {
  display: flex;
  margin: 50px;
  
  
}
#user-profile-firstDiv h1 {
  padding-left: 30px;
  
}