@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  /*   padding: 50px; */
  font-family: "Varela Round", sans-serif;
  background-color: #f1f7ed;
}

a {
  color: #f1f7ed;
  text-decoration: none;
}

span {
  color: #f1f7ed;
  padding-left: 8px;
  padding-right: 8px;
}

nav {
  background-color: #7209b7;
  height: 60px;
  display: flex;
  justify-content: right;
  padding-right: 80px;
}

nav img {
  justify-content: left;
  align-items: center;
  height: 50px;
  margin-top: 5px;
  margin-right: auto;
}

h1 {
  color: #7209b7;
  font-weight: bold;
}

h2 {
  color: #7209b7;
  font-weight: bold;
}

h3 {
  color: #7209b7;
  font-weight: bold;
}

.button-34 {
  background: #7209b7;
  border-radius: 999px;
  box-shadow: #7209b7 0 10px 20px -10px;
  box-sizing: border-box;
  color: #f1f7ed;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

#home {
  height: 100%;
  display: flex;
}

#home h1 {
  font-size: 110px;
  display: flex;
  align-items: center;
}

#home img {
  position: absolute;
  margin-left: 500px;
}

#home-text {
  margin-top: 297px;
  padding: 70px;
  padding-left: 160px;
  padding-right: 160px;
  border-top-style: solid;
  border-color: #7209b7;
  border-width: 8px;
}

#home h3 {
  color: #727072;
}

#home-div-button {
  text-align: center;
}

#home-a {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 18px;
}

#user-profile h1 {
  font-size: 50px;
}

#user-profile-firstDiv {
  display: flex;
  margin: 50px;
}
#user-profile-firstDiv h1 {
  padding-left: 30px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

#signup {
  display: flex;
  padding: 150px;
}

#signup-form-parent {
  margin-right: 90px;
  width: 60%;
}

#signup h2{
  font-size: 40px;
}

#signup-side-text {
  padding-top: 30px;
}

#signup-side-text p {
  padding-right: 180px;
}